﻿@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Personal Finance Tracker</h1>
        <p class="lead">Manage your finances, create a budget, and track your spending!</p>
        <hr class="my-4" />
        <p>WORK IN PROGRESS</p>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <img src="https://blog.shoonya.com/wp-content/uploads/2023/01/47.jpg" class="img-fluid" alt="Personal Finance Goals" />
        </div>
    </div>
</div>
